<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peter's Thoughts!</title>
</head>
<body>
    <header>
        <h1><a href="/">Peter's Blog</a></h1>
    </header>
    <article>
        <time>Published: 14.06.2014, 12:14</time>
        <h2><a href="">My first hardcoded post</a></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore voluptas expedita alias. Aperiam iusto voluptas beatae totam adipisci itaque eius dolorem, quia facilis animi dolorum, aspernatur facere ut, perferendis ea?</p>
    </article>
</body>
</html>